// This file defines the color scheme

$wolfpack-red: #c00;
$wolfpack-dark-red: #900;
$wolfpack-black: #000;
$wolfpack-white: #fff;
$see-through-grey: rgba(255, 255, 255, .2);
$footer-color: #1b1515;
$footer-shadow: rgba(0, 0, 0, .4);
$circle-shadow-start: rgba(0, 0, 0, .2);
$circle-shadow-end: rgba(0, 0, 0, .6);
