footer {
  background-color: $footer-color;
  box-shadow: inset 0 7px 9px -5px $footer-shadow;
  height: 10vh;
  padding-left: 5px;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-direction: row;

  a {
    color: darken($wolfpack-white, 40%);

    &:hover {
      color: $wolfpack-white;
    }
  }

  .separator {
    height: 35px;
    margin: 10px;
    border-right: 1px solid $footer-shadow;
  }
}
