.login-header {
  padding: 0 8.5vw;
  margin: 0 0 5px;

  @media (max-width: 550px), (max-height: 440px){
    font-size: 18px;
  }

  @media (min-width: 720px){
    padding: 0 30px 5px;
  }
}

#code-receiver {
  margin-top: 15px;
}

// Loading animation by Alan Shortis
// https://codepen.io/alanshortis/pen/eJLVXr
$base-line-height: 24px;
$white: rgb(99, 99, 99);
$off-white: rgba($white, .2);
$pulse-duration: 900ms;

@keyframes pulse {
  50% {
    background: $white;
  }

  75% {
    background: $off-white;
  }
}

.loading-pulse {
  margin: 0 15px;
  position: relative;
  width: ($base-line-height / 4);
  height: $base-line-height;
  background: $off-white;
  animation: pulse $pulse-duration infinite;
  animation-delay: ($pulse-duration / 3);

  &::before,
  &::after {
    content: '';
    position: absolute;
    display: block;
    height: ($base-line-height / 1.5);
    width: ($base-line-height / 4);
    background: $off-white;
    top: 50%;
    transform: translateY(-50%);
    animation: pulse $pulse-duration infinite;
  }

  &::before {
    left: -($base-line-height / 2);
  }

  &::after {
    left: ($base-line-height / 2);
    animation-delay: ($pulse-duration / 1.5);
  }
}
