.central-square {
  @include main-shadow;
  background-color: $wolfpack-white;
  min-width: 310px;
  max-width: 700px;
  width: 95vw;
  padding: 15px;
  margin: 15px;
}

.prefs-header {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin-bottom: 10px;
}

.label-info {
  background-color: darken($wolfpack-white, 55%);
}

.save-button {
  display: flex;
  justify-content: flex-end;
  opacity: 0;
  transition: all 500ms ease;
}

.faded-in {
  opacity: 1;
}
