{% extends "admin/base.html" %}
{% load static %}

{% block title %}{{ title }} | {{ site_title|default:_('NCSU Menu Notifier') }}{% endblock %}
{% block extrastyle %}
  <link rel="stylesheet" href="{% static 'custom/stylesheets/admin.css' %}"/>
{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">{{ site_header|default:_('NCSU Menu Notifier') }}</a></h1>
{% endblock %}

{% block nav-global %}{% endblock %}
