<div class="dining-menu-item-modal-title">
    <div>
        <h3>Chocolate Cinnamon Coffee Cake</h3></div>
    <div class="clearfix"></div>
</div>
<div class="row">
    <div class="col-sm-6">
        <div class="menu-dining-menu-modal-nutrition">
            <h4>Nutrition Facts</h4>
            <div class="menu-nutrition-row"><strong>Serving Size:</strong> <span class="menu-nutrition-row-value">💻💻</span></div>
            <div class="menu-nutrition-row"><strong>Calories</strong> <span class="menu-nutrition-row-value">💻💻</span></div>
            <div class="menu-nutrition-row"><strong>Protein</strong> <span class="menu-nutrition-row-value">💻💻</span></div>
            <div class="menu-nutrition-row"><strong>Total Carbohydrate</strong> <span class="menu-nutrition-row-value">💻💻</span></div>
            <div class="menu-nutrition-row"><strong>Total Fat</strong> <span class="menu-nutrition-row-value">💻💻</span></div>
            <div class="menu-nutrition-row"><strong>Saturated Fat</strong> <span class="menu-nutrition-row-value">💻💻</span></div>
            <div class="menu-nutrition-row"><strong>Trans Fat</strong> <span class="menu-nutrition-row-value">💻💻</span></div>
            <div class="menu-nutrition-row"><strong>Fiber</strong> <span class="menu-nutrition-row-value">1.1</span></div>
            <div class="menu-nutrition-row"><strong>Sodium</strong> <span class="menu-nutrition-row-value">💻💻</span></div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="dining-menu-item-allergens"><span class="dining-menu-dietary-icon" data-diet="vegetarian_trait"><img alt="Vegetarian" src="https://dining.ncsu.edu/wp-content/themes/ncstate-dining/img/menu-vegetarian.png" /></span><span class="dining-menu-dietary-icon" data-diet="gluten_allergen"><img alt="Gluten Allergen" src="https://dining.ncsu.edu/wp-content/themes/ncstate-dining/img/menu-gluten.png" /></span>
            <span
                class="dining-menu-dietary-icon" data-diet="dairy_allergen"><img alt="Dairy Allergen" src="https://dining.ncsu.edu/wp-content/themes/ncstate-dining/img/menu-dairy.png" /></span><span class="dining-menu-dietary-icon" data-diet="egg_allergen"><img alt="Egg Allergen" src="https://dining.ncsu.edu/wp-content/themes/ncstate-dining/img/menu-egg.png" /></span>
                <span
                    class="dining-menu-dietary-icon" data-diet="soy_allergen"><img alt="Soy Allergen" src="https://dining.ncsu.edu/wp-content/themes/ncstate-dining/img/menu-soy.png" /></span>
        </div>
        <div class="dining-menu-allergen-contains">Contains Gluten, Dairy, Egg, and Soy</div>
        <div class="dining-menu-allergen-contains dining-menu-allergen-contains-traits">Vegetarian</div>
        <div class="menu-dining-menu-modal-ingredients"><strong>Ingredients:</strong>💻💻</div>
    </div>
</div>
