<div class="dining-menu-item-modal-title">
    <div>
        <h3>Chocolate Cinnamon Coffee Cake</h3></div>
    <div class="clearfix"></div>
</div>
<div class="row">
    <div class="col-sm-6">
        <div class="menu-dining-menu-modal-nutrition">
            <h4>Nutrition Facts</h4>
            <div class="menu-nutrition-row"><strong>Serving Size:</strong> <span class="menu-nutrition-row-value">SERVING (1 slice)</span></div>
            <div class="menu-nutrition-row"><strong>Calories</strong> <span class="menu-nutrition-row-value">291.8</span></div>
            <div class="menu-nutrition-row"><strong>Protein</strong> <span class="menu-nutrition-row-value">3.5</span></div>
            <div class="menu-nutrition-row"><strong>Total Carbohydrate</strong> <span class="menu-nutrition-row-value">42.5</span></div>
            <div class="menu-nutrition-row"><strong>Total Fat</strong> <span class="menu-nutrition-row-value">11.9</span></div>
            <div class="menu-nutrition-row"><strong>Saturated Fat</strong> <span class="menu-nutrition-row-value">5.4</span></div>
            <div class="menu-nutrition-row"><strong>Trans Fat</strong> <span class="menu-nutrition-row-value">0</span></div>
            <div class="menu-nutrition-row"><strong>Fiber</strong> <span class="menu-nutrition-row-value">1.1</span></div>
            <div class="menu-nutrition-row"><strong>Sodium</strong> <span class="menu-nutrition-row-value">172.9</span></div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="dining-menu-item-allergens"><span class="dining-menu-dietary-icon" data-diet="vegetarian_trait"><img alt="Vegetarian" src="https://dining.ncsu.edu/wp-content/themes/ncstate-dining/img/menu-vegetarian.png" /></span><span class="dining-menu-dietary-icon" data-diet="gluten_allergen"><img alt="Gluten Allergen" src="https://dining.ncsu.edu/wp-content/themes/ncstate-dining/img/menu-gluten.png" /></span>
            <span
                class="dining-menu-dietary-icon" data-diet="dairy_allergen"><img alt="Dairy Allergen" src="https://dining.ncsu.edu/wp-content/themes/ncstate-dining/img/menu-dairy.png" /></span><span class="dining-menu-dietary-icon" data-diet="egg_allergen"><img alt="Egg Allergen" src="https://dining.ncsu.edu/wp-content/themes/ncstate-dining/img/menu-egg.png" /></span>
                <span
                    class="dining-menu-dietary-icon" data-diet="soy_allergen"><img alt="Soy Allergen" src="https://dining.ncsu.edu/wp-content/themes/ncstate-dining/img/menu-soy.png" /></span>
        </div>
        <div class="dining-menu-allergen-contains">Contains Gluten, Dairy, Egg, and Soy</div>
        <div class="dining-menu-allergen-contains dining-menu-allergen-contains-traits">Vegetarian</div>
        <div class="menu-dining-menu-modal-ingredients"><strong>Ingredients:</strong> Baker\'s Flour (BLEACHED WHEAT FLOUR, MALTED BARLEY FLOUR, POTASSIUM BROMATE, NIACIN, IRON, THIAMIN MONONITRATE, RIBOFLAVIN, FOLIC ACID,), Sugar, Whole Milk (MILK, VITAMIN D3.), Semi-Sweet Chocolate Chips (SUGAR,
            CHOCOLATE, COCOA BUTTER, MILK FAT, SOY LECITHIN, VANILLIN, ARTIFICIAL FLAVOR, MILK), Brown Sugar, Eggs (WHOLE EGGS, CITRIC ACID, 0.15% WATER ADDED AS CARRIER FOR CITRIC ACID. CITRIC ACID ADDED TO PRESERVE COLOR.), Unsalted Butter (cream, natural
            flavoring), Canola Oil, All-Purpose Flour (Bleached wheat flour, malted barley flour, niacin, reduced iron, thiamine mononitrate, riboflavin, folic acid.), Cocoa Powder (COCOA POWDER, SILICON DIOXIDE.), BAKING POWDER (SODIUM ACID PYROPHOSPHATE,
            SODIUM BICARBONATE, CORN STARCH, MONOCALCIUM PHOSPHATE. ), Powdered Sugar (DEXTROSE, CORN STARCH, PARTIALLY HYDROGENATED VEGETABLE OIL (SOYBEAN AND/OR COTTONSEED OIL), HYDROGENATED COTTONSEED OIL, TITANIUM DIOXIDE (AS COLOR), RICE FLOUR, ARTIFICIAL
            FLAVOR. ), Salt (SALT, SODIUM SILICOALUMINATE, DEXTROSE, POTASSIUM IODIDE), Cinnamon, Vanilla Extract (WATER, ALCOHOL, CORN SYRUP, VANILLA BEAN EXTRACT. )</div>
    </div>
</div>
