<div class="dining-menu-item-modal-title">
    <div>
        <h3>Herb Roasted Mushrooms</h3></div>
    <div class="clearfix"></div>
</div>
<div class="row">
    <div class="col-sm-6">
        <div class="menu-dining-menu-modal-nutrition">
            <h4>Nutrition Facts</h4>
            <div class="menu-nutrition-row"><strong>Serving Size:</strong> <span class="menu-nutrition-row-value">SERVING</span></div>
            <div class="menu-nutrition-row"><strong>Calories</strong> <span class="menu-nutrition-row-value">94.6</span></div>
            <div class="menu-nutrition-row"><strong>Protein</strong> <span class="menu-nutrition-row-value">4.8</span></div>
            <div class="menu-nutrition-row"><strong>Total Carbohydrate</strong> <span class="menu-nutrition-row-value">4.9</span></div>
            <div class="menu-nutrition-row"><strong>Total Fat</strong> <span class="menu-nutrition-row-value">7.2</span></div>
            <div class="menu-nutrition-row"><strong>Saturated Fat</strong> <span class="menu-nutrition-row-value">0.8</span></div>
            <div class="menu-nutrition-row"><strong>Trans Fat</strong> <span class="menu-nutrition-row-value">0</span></div>
            <div class="menu-nutrition-row"><strong>Fiber</strong> <span class="menu-nutrition-row-value">1.6</span></div>
            <div class="menu-nutrition-row"><strong>Sodium</strong> <span class="menu-nutrition-row-value">141.6</span></div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="dining-menu-item-allergens"></div>
        <div class="menu-dining-menu-modal-ingredients"><strong>Ingredients:</strong> Mushroom, Blended Olive Oil (Olive oil, canola oil), Garlic (GARLIC, WATER, CITRIC ACID (PRESERVATIVE). CONTAINS NATURALLY OCCURRING SULFITES.), Salt Kosher (SALT, YELLOW PRUSSIATE OF SODA ), Thyme, Black Pepper,
            Sage (FRESH SAGE ), Basil , Parsley (PARSLEY)</div>
    </div>
</div>
