<div class="dining-menu-container">
    <p class="dining-menu-container__no-data">No Menu Data is Available for Monday, Mar. 13</p>
</div>
<!-- This was a day where there was no brunch, so it should be empty -->
