<div class="dining-menu-container dining-menu-container-" data="2017-03-13">
    <div class="dining-menu dining-menu-dinner">
        <h3 class="dining-menu-meal-desc">Dinner on Monday, Mar. 13</h3>
        <ul class="location__inpage-tabs">
            <li><a href="#grill stations">Grill Stations</a></li>
            <li><a href="#topping">Topping</a></li>
            <li><a href="#vegetable">Vegetable</a></li>
            <li><a href="#deli">Deli</a></li>
            <li><a href="#dessert pie">Dessert Pie</a></li>
            <li><a href="#starch">Starch</a></li>
            <li><a href="#entree">Entree</a></li>
            <li><a href="#soup">Soup</a></li>
            <li><a href="#salad">Salad</a></li>
            <li><a href="#dessert">Dessert</a></li>
        </ul>
        <div class="location__tags"></div>
        <div class="dining-menu-category dining-menu-category-grill stations">
            <a class="anchor" name="grill stations" id="grill stations"></a>
            <h4>Grill Stations</h4>
            <ul class="location__meal-category-list">
                <li class=""><a class="dining-menu-item-modal" rel="1_03132017_dinner_grill_stations_american_cheeseburger" href="#?item=1_03132017_dinner_grill_stations_american_cheeseburger">American Cheeseburger</a> <span class="dining-menu-dietary-icon" data-diet="gluten_allergen"><img alt="Gluten Allergen" src="https://dining.ncsu.edu/wp-content/themes/ncstate-dining/img/menu-gluten.png" /></span>
                    <span
                        class="dining-menu-dietary-icon" data-diet="dairy_allergen"><img alt="Dairy Allergen" src="https://dining.ncsu.edu/wp-content/themes/ncstate-dining/img/menu-dairy.png" /></span><span class="dining-menu-dietary-icon" data-diet="soy_allergen"><img alt="Soy Allergen" src="https://dining.ncsu.edu/wp-content/themes/ncstate-dining/img/menu-soy.png" /></span></span>
                </li>
                <li class=""><a class="dining-menu-item-modal" rel="1_03132017_dinner_grill_stations_grilled_turkey_hot_dog" href="#?item=1_03132017_dinner_grill_stations_grilled_turkey_hot_dog">Grilled Turkey Hot Dog</a> <span class="dining-menu-dietary-icon" data-diet="gluten_allergen"><img alt="Gluten Allergen" src="https://dining.ncsu.edu/wp-content/themes/ncstate-dining/img/menu-gluten.png" /></span>
                    <span
                        class="dining-menu-dietary-icon" data-diet="soy_allergen"><img alt="Soy Allergen" src="https://dining.ncsu.edu/wp-content/themes/ncstate-dining/img/menu-soy.png" /></span>
                        </span>
                </li>
                <li class=""><a class="dining-menu-item-modal" rel="1_03132017_dinner_grill_stations_hamburger" href="#?item=1_03132017_dinner_grill_stations_hamburger">Hamburger</a> <span class="dining-menu-dietary-icon" data-diet="gluten_allergen"><img alt="Gluten Allergen" src="https://dining.ncsu.edu/wp-content/themes/ncstate-dining/img/menu-gluten.png" /></span>
                    <span
                        class="dining-menu-dietary-icon" data-diet="soy_allergen"><img alt="Soy Allergen" src="https://dining.ncsu.edu/wp-content/themes/ncstate-dining/img/menu-soy.png" /></span>
                        </span>
                </li>
                <li class=""><a class="dining-menu-item-modal" rel="1_03132017_dinner_grill_stations_hot_dog_chili" href="#?item=1_03132017_dinner_grill_stations_hot_dog_chili">Hot Dog Chili</a> <span class="dining-menu-dietary-icon" data-diet="gluten_allergen"><img alt="Gluten Allergen" src="https://dining.ncsu.edu/wp-content/themes/ncstate-dining/img/menu-gluten.png" /></span>
                    <span
                        class="dining-menu-dietary-icon" data-diet="soy_allergen"><img alt="Soy Allergen" src="https://dining.ncsu.edu/wp-content/themes/ncstate-dining/img/menu-soy.png" /></span>
                        </span>
                </li>
                <li class=""><a class="dining-menu-item-modal" rel="1_03132017_dinner_grill_stations_sauteed_mushrooms" href="#?item=1_03132017_dinner_grill_stations_sauteed_mushrooms">Sauteed Mushrooms</a> <span class="dining-menu-dietary-icon" data-diet="wolf_approved"><img alt="Wolf Approved" src="https://dining.ncsu.edu/wp-content/themes/ncstate-dining/img/menu-wolf-approved.png" /></span></span>
                </li>
                <li class=""><a class="dining-menu-item-modal" rel="1_03132017_dinner_grill_stations_sauteed_onions" href="#?item=1_03132017_dinner_grill_stations_sauteed_onions">Sauteed Onions</a> <span class="dining-menu-dietary-icon" data-diet="wolf_approved"><img alt="Wolf Approved" src="https://dining.ncsu.edu/wp-content/themes/ncstate-dining/img/menu-wolf-approved.png" /></span></span>
                </li>
                <li class=""><a class="dining-menu-item-modal" rel="1_03132017_dinner_grill_stations_thick_cut_steak_fries" href="#?item=1_03132017_dinner_grill_stations_thick_cut_steak_fries">Thick Cut Steak Fries</a> </span>
                </li>
            </ul>
        </div>
        <div class="dining-menu-category dining-menu-category-topping">
            <a class="anchor" name="topping" id="topping"></a>
            <h4>Topping</h4>
            <ul class="location__meal-category-list">
                <li class=""><a class="dining-menu-item-modal" rel="1_03132017_dinner_topping_caesar_salad_station" href="#?item=1_03132017_dinner_topping_caesar_salad_station">Caesar Salad Station</a> <span class="dining-menu-dietary-icon" data-diet="gluten_allergen"><img alt="Gluten Allergen" src="https://dining.ncsu.edu/wp-content/themes/ncstate-dining/img/menu-gluten.png" /></span>
                    <span
                        class="dining-menu-dietary-icon" data-diet="dairy_allergen"><img alt="Dairy Allergen" src="https://dining.ncsu.edu/wp-content/themes/ncstate-dining/img/menu-dairy.png" /></span><span class="dining-menu-dietary-icon" data-diet="egg_allergen"><img alt="Egg Allergen" src="https://dining.ncsu.edu/wp-content/themes/ncstate-dining/img/menu-egg.png" /></span>
                        <span
                            class="dining-menu-dietary-icon" data-diet="seafood_allergen"><img alt="Seafood Allergen" src="https://dining.ncsu.edu/wp-content/themes/ncstate-dining/img/menu-seafood.png" /></span>
                            </span>
                </li>
            </ul>
        </div>
        <div class="dining-menu-category dining-menu-category-vegetable">
            <a class="anchor" name="vegetable" id="vegetable"></a>
            <h4>Vegetable</h4>
            <ul class="location__meal-category-list">
                <li class=""><a class="dining-menu-item-modal" rel="1_03132017_dinner_vegetable_cauliflower_cheddar_bake" href="#?item=1_03132017_dinner_vegetable_cauliflower_cheddar_bake">Cauliflower Cheddar Bake</a> <span class="dining-menu-dietary-icon" data-diet="gluten_allergen"><img alt="Gluten Allergen" src="https://dining.ncsu.edu/wp-content/themes/ncstate-dining/img/menu-gluten.png" /></span>
                    <span
                        class="dining-menu-dietary-icon" data-diet="dairy_allergen"><img alt="Dairy Allergen" src="https://dining.ncsu.edu/wp-content/themes/ncstate-dining/img/menu-dairy.png" /></span><span class="dining-menu-dietary-icon" data-diet="soy_allergen"><img alt="Soy Allergen" src="https://dining.ncsu.edu/wp-content/themes/ncstate-dining/img/menu-soy.png" /></span>
                        <span
                            class="dining-menu-dietary-icon" data-diet="vegetarian"><img alt="Vegetarian" src="https://dining.ncsu.edu/wp-content/themes/ncstate-dining/img/menu-vegetarian.png" /></span><span class="dining-menu-dietary-icon" data-diet="wolf_approved"><img alt="Wolf Approved" src="https://dining.ncsu.edu/wp-content/themes/ncstate-dining/img/menu-wolf-approved.png" /></span></span>
                </li>
                <li class=""><a class="dining-menu-item-modal" rel="1_03132017_dinner_vegetable_homestyle_green_beans" href="#?item=1_03132017_dinner_vegetable_homestyle_green_beans">Homestyle Green Beans</a> <span class="dining-menu-dietary-icon" data-diet="vegetarian"><img alt="Vegetarian" src="https://dining.ncsu.edu/wp-content/themes/ncstate-dining/img/menu-vegetarian.png" /></span>
                    <span
                        class="dining-menu-dietary-icon" data-diet="vegan"><img alt="Vegan" src="https://dining.ncsu.edu/wp-content/themes/ncstate-dining/img/menu-vegan.png" /></span><span class="dining-menu-dietary-icon" data-diet="wolf_approved"><img alt="Wolf Approved" src="https://dining.ncsu.edu/wp-content/themes/ncstate-dining/img/menu-wolf-approved.png" /></span></span>
                </li>
            </ul>
        </div>
        <div class="dining-menu-category dining-menu-category-deli">
            <a class="anchor" name="deli" id="deli"></a>
            <h4>Deli</h4>
            <ul class="location__meal-category-list">
                <li class=""><a class="dining-menu-item-modal" rel="1_03132017_dinner_deli_chicken_boom_boom_wrap" href="#?item=1_03132017_dinner_deli_chicken_boom_boom_wrap">Chicken Boom Boom Wrap</a> <span class="dining-menu-dietary-icon" data-diet="gluten_allergen"><img alt="Gluten Allergen" src="https://dining.ncsu.edu/wp-content/themes/ncstate-dining/img/menu-gluten.png" /></span>
                    <span
                        class="dining-menu-dietary-icon" data-diet="dairy_allergen"><img alt="Dairy Allergen" src="https://dining.ncsu.edu/wp-content/themes/ncstate-dining/img/menu-dairy.png" /></span><span class="dining-menu-dietary-icon" data-diet="egg_allergen"><img alt="Egg Allergen" src="https://dining.ncsu.edu/wp-content/themes/ncstate-dining/img/menu-egg.png" /></span>
                        <span
                            class="dining-menu-dietary-icon" data-diet="soy_allergen"><img alt="Soy Allergen" src="https://dining.ncsu.edu/wp-content/themes/ncstate-dining/img/menu-soy.png" /></span><span class="dining-menu-dietary-icon" data-diet="wolf_approved"><img alt="Wolf Approved" src="https://dining.ncsu.edu/wp-content/themes/ncstate-dining/img/menu-wolf-approved.png" /></span></span>
                </li>
            </ul>
        </div>
        <div class="dining-menu-category dining-menu-category-dessert pie">
            <a class="anchor" name="dessert pie" id="dessert pie"></a>
            <h4>Dessert Pie</h4>
            <ul class="location__meal-category-list">
                <li class=""><a class="dining-menu-item-modal" rel="1_03132017_dinner_dessert_pie_chocolate_chess_pie" href="#?item=1_03132017_dinner_dessert_pie_chocolate_chess_pie">Chocolate Chess Pie</a> <span class="dining-menu-dietary-icon" data-diet="gluten_allergen"><img alt="Gluten Allergen" src="https://dining.ncsu.edu/wp-content/themes/ncstate-dining/img/menu-gluten.png" /></span>
                    <span
                        class="dining-menu-dietary-icon" data-diet="dairy_allergen"><img alt="Dairy Allergen" src="https://dining.ncsu.edu/wp-content/themes/ncstate-dining/img/menu-dairy.png" /></span><span class="dining-menu-dietary-icon" data-diet="egg_allergen"><img alt="Egg Allergen" src="https://dining.ncsu.edu/wp-content/themes/ncstate-dining/img/menu-egg.png" /></span>
                        <span
                            class="dining-menu-dietary-icon" data-diet="soy_allergen"><img alt="Soy Allergen" src="https://dining.ncsu.edu/wp-content/themes/ncstate-dining/img/menu-soy.png" /></span>
                            </span>
                </li>
            </ul>
        </div>
        <div class="dining-menu-category dining-menu-category-starch">
            <a class="anchor" name="starch" id="starch"></a>
            <h4>Starch</h4>
            <ul class="location__meal-category-list">
                <li class=""><a class="dining-menu-item-modal" rel="1_03132017_dinner_starch_steamed_rice" href="#?item=1_03132017_dinner_starch_steamed_rice">Steamed Rice</a> <span class="dining-menu-dietary-icon" data-diet="vegetarian"><img alt="Vegetarian" src="https://dining.ncsu.edu/wp-content/themes/ncstate-dining/img/menu-vegetarian.png" /></span>
                    <span
                        class="dining-menu-dietary-icon" data-diet="vegan"><img alt="Vegan" src="https://dining.ncsu.edu/wp-content/themes/ncstate-dining/img/menu-vegan.png" /></span><span class="dining-menu-dietary-icon" data-diet="wolf_approved"><img alt="Wolf Approved" src="https://dining.ncsu.edu/wp-content/themes/ncstate-dining/img/menu-wolf-approved.png" /></span></span>
                </li>
            </ul>
        </div>
        <div class="dining-menu-category dining-menu-category-entree">
            <a class="anchor" name="entree" id="entree"></a>
            <h4>Entree</h4>
            <ul class="location__meal-category-list">
                <li class=""><a class="dining-menu-item-modal" rel="1_03132017_dinner_entree_cheeseburger_meatloaf" href="#?item=1_03132017_dinner_entree_cheeseburger_meatloaf">Cheeseburger Meatloaf</a> <span class="dining-menu-dietary-icon" data-diet="gluten_allergen"><img alt="Gluten Allergen" src="https://dining.ncsu.edu/wp-content/themes/ncstate-dining/img/menu-gluten.png" /></span>
                    <span
                        class="dining-menu-dietary-icon" data-diet="dairy_allergen"><img alt="Dairy Allergen" src="https://dining.ncsu.edu/wp-content/themes/ncstate-dining/img/menu-dairy.png" /></span><span class="dining-menu-dietary-icon" data-diet="egg_allergen"><img alt="Egg Allergen" src="https://dining.ncsu.edu/wp-content/themes/ncstate-dining/img/menu-egg.png" /></span>
                        <span
                            class="dining-menu-dietary-icon" data-diet="soy_allergen"><img alt="Soy Allergen" src="https://dining.ncsu.edu/wp-content/themes/ncstate-dining/img/menu-soy.png" /></span>
                            </span>
                </li>
                <li class=""><a class="dining-menu-item-modal" rel="1_03132017_dinner_entree_edamame_succotash" href="#?item=1_03132017_dinner_entree_edamame_succotash">Edamame Succotash</a> <span class="dining-menu-dietary-icon" data-diet="soy_allergen"><img alt="Soy Allergen" src="https://dining.ncsu.edu/wp-content/themes/ncstate-dining/img/menu-soy.png" /></span>
                    <span
                        class="dining-menu-dietary-icon" data-diet="vegetarian"><img alt="Vegetarian" src="https://dining.ncsu.edu/wp-content/themes/ncstate-dining/img/menu-vegetarian.png" /></span><span class="dining-menu-dietary-icon" data-diet="vegan"><img alt="Vegan" src="https://dining.ncsu.edu/wp-content/themes/ncstate-dining/img/menu-vegan.png" /></span>
                        <span
                            class="dining-menu-dietary-icon" data-diet="wolf_approved"><img alt="Wolf Approved" src="https://dining.ncsu.edu/wp-content/themes/ncstate-dining/img/menu-wolf-approved.png" /></span>
                            </span>
                </li>
                <li class=""><a class="dining-menu-item-modal" rel="1_03132017_dinner_entree_gluten_free_veggie_burgers" href="#?item=1_03132017_dinner_entree_gluten_free_veggie_burgers">Gluten Free Veggie Burgers</a> <span class="dining-menu-dietary-icon" data-diet="gluten_allergen"><img alt="Gluten Allergen" src="https://dining.ncsu.edu/wp-content/themes/ncstate-dining/img/menu-gluten.png" /></span>
                    <span
                        class="dining-menu-dietary-icon" data-diet="soy_allergen"><img alt="Soy Allergen" src="https://dining.ncsu.edu/wp-content/themes/ncstate-dining/img/menu-soy.png" /></span><span class="dining-menu-dietary-icon" data-diet="vegetarian"><img alt="Vegetarian" src="https://dining.ncsu.edu/wp-content/themes/ncstate-dining/img/menu-vegetarian.png" /></span>
                        <span
                            class="dining-menu-dietary-icon" data-diet="vegan"><img alt="Vegan" src="https://dining.ncsu.edu/wp-content/themes/ncstate-dining/img/menu-vegan.png" /></span><span class="dining-menu-dietary-icon" data-diet="wolf_approved"><img alt="Wolf Approved" src="https://dining.ncsu.edu/wp-content/themes/ncstate-dining/img/menu-wolf-approved.png" /></span></span>
                </li>
                <li class=""><a class="dining-menu-item-modal" rel="1_03132017_dinner_entree_portabello_stuffed_w_barley_cous_cous" href="#?item=1_03132017_dinner_entree_portabello_stuffed_w_barley_cous_cous">Portabello Stuffed w/ Barley & Cous Cous</a> <span class="dining-menu-dietary-icon"
                        data-diet="gluten_allergen"><img alt="Gluten Allergen" src="https://dining.ncsu.edu/wp-content/themes/ncstate-dining/img/menu-gluten.png" /></span><span class="dining-menu-dietary-icon" data-diet="dairy_allergen"><img alt="Dairy Allergen" src="https://dining.ncsu.edu/wp-content/themes/ncstate-dining/img/menu-dairy.png" /></span>
                    <span
                        class="dining-menu-dietary-icon" data-diet="vegetarian"><img alt="Vegetarian" src="https://dining.ncsu.edu/wp-content/themes/ncstate-dining/img/menu-vegetarian.png" /></span>
                        </span>
                </li>
                <li class=""><a class="dining-menu-item-modal" rel="1_03132017_dinner_entree_spicy_asian_haddock" href="#?item=1_03132017_dinner_entree_spicy_asian_haddock">Spicy Asian Haddock</a> <span class="dining-menu-dietary-icon" data-diet="gluten_allergen"><img alt="Gluten Allergen" src="https://dining.ncsu.edu/wp-content/themes/ncstate-dining/img/menu-gluten.png" /></span>
                    <span
                        class="dining-menu-dietary-icon" data-diet="seafood_allergen"><img alt="Seafood Allergen" src="https://dining.ncsu.edu/wp-content/themes/ncstate-dining/img/menu-seafood.png" /></span><span class="dining-menu-dietary-icon" data-diet="soy_allergen"><img alt="Soy Allergen" src="https://dining.ncsu.edu/wp-content/themes/ncstate-dining/img/menu-soy.png" /></span>
                        <span
                            class="dining-menu-dietary-icon" data-diet="wolf_approved"><img alt="Wolf Approved" src="https://dining.ncsu.edu/wp-content/themes/ncstate-dining/img/menu-wolf-approved.png" /></span>
                            </span>
                </li>
                <li class=""><a class="dining-menu-item-modal" rel="1_03132017_dinner_entree_tempura_chicken_w_sweet_sour_sauce" href="#?item=1_03132017_dinner_entree_tempura_chicken_w_sweet_sour_sauce">Tempura Chicken w/ Sweet & Sour Sauce</a> <span class="dining-menu-dietary-icon"
                        data-diet="gluten_allergen"><img alt="Gluten Allergen" src="https://dining.ncsu.edu/wp-content/themes/ncstate-dining/img/menu-gluten.png" /></span><span class="dining-menu-dietary-icon" data-diet="soy_allergen"><img alt="Soy Allergen" src="https://dining.ncsu.edu/wp-content/themes/ncstate-dining/img/menu-soy.png" /></span></span>
                </li>
            </ul>
        </div>
        <div class="dining-menu-category dining-menu-category-soup">
            <a class="anchor" name="soup" id="soup"></a>
            <h4>Soup</h4>
            <ul class="location__meal-category-list">
                <li class=""><a class="dining-menu-item-modal" rel="1_03132017_dinner_soup_gluten_free_tomato_basil_soup" href="#?item=1_03132017_dinner_soup_gluten_free_tomato_basil_soup">Gluten Free Tomato Basil Soup</a> <span class="dining-menu-dietary-icon" data-diet="vegetarian"><img alt="Vegetarian" src="https://dining.ncsu.edu/wp-content/themes/ncstate-dining/img/menu-vegetarian.png" /></span>
                    <span
                        class="dining-menu-dietary-icon" data-diet="vegan"><img alt="Vegan" src="https://dining.ncsu.edu/wp-content/themes/ncstate-dining/img/menu-vegan.png" /></span><span class="dining-menu-dietary-icon" data-diet="wolf_approved"><img alt="Wolf Approved" src="https://dining.ncsu.edu/wp-content/themes/ncstate-dining/img/menu-wolf-approved.png" /></span></span>
                </li>
                <li class=""><a class="dining-menu-item-modal" rel="1_03132017_dinner_soup_southwestern_poblano_chicken_soup" href="#?item=1_03132017_dinner_soup_southwestern_poblano_chicken_soup">Southwestern Poblano Chicken Soup</a> <span class="dining-menu-dietary-icon"
                        data-diet="gluten_allergen"><img alt="Gluten Allergen" src="https://dining.ncsu.edu/wp-content/themes/ncstate-dining/img/menu-gluten.png" /></span><span class="dining-menu-dietary-icon" data-diet="dairy_allergen"><img alt="Dairy Allergen" src="https://dining.ncsu.edu/wp-content/themes/ncstate-dining/img/menu-dairy.png" /></span>
                    <span
                        class="dining-menu-dietary-icon" data-diet="soy_allergen"><img alt="Soy Allergen" src="https://dining.ncsu.edu/wp-content/themes/ncstate-dining/img/menu-soy.png" /></span>
                        </span>
                </li>
            </ul>
        </div>
        <div class="dining-menu-category dining-menu-category-salad">
            <a class="anchor" name="salad" id="salad"></a>
            <h4>Salad</h4>
            <ul class="location__meal-category-list">
                <li class=""><a class="dining-menu-item-modal" rel="1_03132017_dinner_salad_creamy_vanilla_yogurt" href="#?item=1_03132017_dinner_salad_creamy_vanilla_yogurt">Creamy Vanilla Yogurt</a> <span class="dining-menu-dietary-icon" data-diet="dairy_allergen"><img alt="Dairy Allergen" src="https://dining.ncsu.edu/wp-content/themes/ncstate-dining/img/menu-dairy.png" /></span>
                    <span
                        class="dining-menu-dietary-icon" data-diet="vegetarian"><img alt="Vegetarian" src="https://dining.ncsu.edu/wp-content/themes/ncstate-dining/img/menu-vegetarian.png" /></span><span class="dining-menu-dietary-icon" data-diet="wolf_approved"><img alt="Wolf Approved" src="https://dining.ncsu.edu/wp-content/themes/ncstate-dining/img/menu-wolf-approved.png" /></span></span>
                </li>
                <li class=""><a class="dining-menu-item-modal" rel="1_03132017_dinner_salad_fresh_cut_cantaloupe" href="#?item=1_03132017_dinner_salad_fresh_cut_cantaloupe">Fresh Cut Cantaloupe</a> <span class="dining-menu-dietary-icon" data-diet="vegetarian"><img alt="Vegetarian" src="https://dining.ncsu.edu/wp-content/themes/ncstate-dining/img/menu-vegetarian.png" /></span>
                    <span
                        class="dining-menu-dietary-icon" data-diet="vegan"><img alt="Vegan" src="https://dining.ncsu.edu/wp-content/themes/ncstate-dining/img/menu-vegan.png" /></span><span class="dining-menu-dietary-icon" data-diet="wolf_approved"><img alt="Wolf Approved" src="https://dining.ncsu.edu/wp-content/themes/ncstate-dining/img/menu-wolf-approved.png" /></span></span>
                </li>
                <li class=""><a class="dining-menu-item-modal" rel="1_03132017_dinner_salad_granola" href="#?item=1_03132017_dinner_salad_granola">Granola</a> <span class="dining-menu-dietary-icon" data-diet="gluten_allergen"><img alt="Gluten Allergen" src="https://dining.ncsu.edu/wp-content/themes/ncstate-dining/img/menu-gluten.png" /></span>
                    <span
                        class="dining-menu-dietary-icon" data-diet="dairy_allergen"><img alt="Dairy Allergen" src="https://dining.ncsu.edu/wp-content/themes/ncstate-dining/img/menu-dairy.png" /></span><span class="dining-menu-dietary-icon" data-diet="nut_allergen"><img alt="Nut Allergen" src="https://dining.ncsu.edu/wp-content/themes/ncstate-dining/img/menu-nut.png" /></span>
                        <span
                            class="dining-menu-dietary-icon" data-diet="wolf_approved"><img alt="Wolf Approved" src="https://dining.ncsu.edu/wp-content/themes/ncstate-dining/img/menu-wolf-approved.png" /></span>
                            </span>
                </li>
                <li class=""><a class="dining-menu-item-modal" rel="1_03132017_dinner_salad_orange_wedges" href="#?item=1_03132017_dinner_salad_orange_wedges">Orange Wedges</a> <span class="dining-menu-dietary-icon" data-diet="wolf_approved"><img alt="Wolf Approved" src="https://dining.ncsu.edu/wp-content/themes/ncstate-dining/img/menu-wolf-approved.png" /></span></span>
                </li>
                <li class=""><a class="dining-menu-item-modal" rel="1_03132017_dinner_salad_roasted_sweet_potato_salad" href="#?item=1_03132017_dinner_salad_roasted_sweet_potato_salad">Roasted Sweet Potato Salad</a> <span class="dining-menu-dietary-icon" data-diet="vegetarian"><img alt="Vegetarian" src="https://dining.ncsu.edu/wp-content/themes/ncstate-dining/img/menu-vegetarian.png" /></span>
                    <span
                        class="dining-menu-dietary-icon" data-diet="vegan"><img alt="Vegan" src="https://dining.ncsu.edu/wp-content/themes/ncstate-dining/img/menu-vegan.png" /></span><span class="dining-menu-dietary-icon" data-diet="wolf_approved"><img alt="Wolf Approved" src="https://dining.ncsu.edu/wp-content/themes/ncstate-dining/img/menu-wolf-approved.png" /></span></span>
                </li>
                <li class=""><a class="dining-menu-item-modal" rel="1_03132017_dinner_salad_romaine_lettuce_salad" href="#?item=1_03132017_dinner_salad_romaine_lettuce_salad">Romaine Lettuce Salad</a> <span class="dining-menu-dietary-icon" data-diet="vegetarian"><img alt="Vegetarian" src="https://dining.ncsu.edu/wp-content/themes/ncstate-dining/img/menu-vegetarian.png" /></span>
                    <span
                        class="dining-menu-dietary-icon" data-diet="vegan"><img alt="Vegan" src="https://dining.ncsu.edu/wp-content/themes/ncstate-dining/img/menu-vegan.png" /></span><span class="dining-menu-dietary-icon" data-diet="wolf_approved"><img alt="Wolf Approved" src="https://dining.ncsu.edu/wp-content/themes/ncstate-dining/img/menu-wolf-approved.png" /></span></span>
                </li>
                <li class=""><a class="dining-menu-item-modal" rel="1_03132017_dinner_salad_sliced_pears" href="#?item=1_03132017_dinner_salad_sliced_pears">Sliced Pears</a> <span class="dining-menu-dietary-icon" data-diet="vegetarian"><img alt="Vegetarian" src="https://dining.ncsu.edu/wp-content/themes/ncstate-dining/img/menu-vegetarian.png" /></span>
                    <span
                        class="dining-menu-dietary-icon" data-diet="vegan"><img alt="Vegan" src="https://dining.ncsu.edu/wp-content/themes/ncstate-dining/img/menu-vegan.png" /></span><span class="dining-menu-dietary-icon" data-diet="wolf_approved"><img alt="Wolf Approved" src="https://dining.ncsu.edu/wp-content/themes/ncstate-dining/img/menu-wolf-approved.png" /></span></span>
                </li>
                <li class=""><a class="dining-menu-item-modal" rel="1_03132017_dinner_salad_spinach_salad" href="#?item=1_03132017_dinner_salad_spinach_salad">Spinach Salad</a> <span class="dining-menu-dietary-icon" data-diet="vegetarian"><img alt="Vegetarian" src="https://dining.ncsu.edu/wp-content/themes/ncstate-dining/img/menu-vegetarian.png" /></span>
                    <span
                        class="dining-menu-dietary-icon" data-diet="vegan"><img alt="Vegan" src="https://dining.ncsu.edu/wp-content/themes/ncstate-dining/img/menu-vegan.png" /></span><span class="dining-menu-dietary-icon" data-diet="wolf_approved"><img alt="Wolf Approved" src="https://dining.ncsu.edu/wp-content/themes/ncstate-dining/img/menu-wolf-approved.png" /></span></span>
                </li>
                <li class=""><a class="dining-menu-item-modal" rel="1_03132017_dinner_salad_tropical_pineapple" href="#?item=1_03132017_dinner_salad_tropical_pineapple">Tropical Pineapple  </a> <span class="dining-menu-dietary-icon" data-diet="vegetarian"><img alt="Vegetarian" src="https://dining.ncsu.edu/wp-content/themes/ncstate-dining/img/menu-vegetarian.png" /></span>
                    <span
                        class="dining-menu-dietary-icon" data-diet="vegan"><img alt="Vegan" src="https://dining.ncsu.edu/wp-content/themes/ncstate-dining/img/menu-vegan.png" /></span><span class="dining-menu-dietary-icon" data-diet="wolf_approved"><img alt="Wolf Approved" src="https://dining.ncsu.edu/wp-content/themes/ncstate-dining/img/menu-wolf-approved.png" /></span></span>
                </li>
            </ul>
        </div>
        <div class="dining-menu-category dining-menu-category-dessert">
            <a class="anchor" name="dessert" id="dessert"></a>
            <h4>Dessert</h4>
            <ul class="location__meal-category-list">
                <li class=""><a class="dining-menu-item-modal" rel="1_03132017_dinner_dessert_fudge_brownies" href="#?item=1_03132017_dinner_dessert_fudge_brownies">Fudge Brownies</a> <span class="dining-menu-dietary-icon" data-diet="gluten_allergen"><img alt="Gluten Allergen" src="https://dining.ncsu.edu/wp-content/themes/ncstate-dining/img/menu-gluten.png" /></span>
                    <span
                        class="dining-menu-dietary-icon" data-diet="dairy_allergen"><img alt="Dairy Allergen" src="https://dining.ncsu.edu/wp-content/themes/ncstate-dining/img/menu-dairy.png" /></span><span class="dining-menu-dietary-icon" data-diet="egg_allergen"><img alt="Egg Allergen" src="https://dining.ncsu.edu/wp-content/themes/ncstate-dining/img/menu-egg.png" /></span>
                        <span
                            class="dining-menu-dietary-icon" data-diet="soy_allergen"><img alt="Soy Allergen" src="https://dining.ncsu.edu/wp-content/themes/ncstate-dining/img/menu-soy.png" /></span>
                            </span>
                </li>
                <li class=""><a class="dining-menu-item-modal" rel="1_03132017_dinner_dessert_vanilla_pudding" href="#?item=1_03132017_dinner_dessert_vanilla_pudding">Vanilla Pudding</a> <span class="dining-menu-dietary-icon" data-diet="dairy_allergen"><img alt="Dairy Allergen" src="https://dining.ncsu.edu/wp-content/themes/ncstate-dining/img/menu-dairy.png" /></span></span>
                </li>
            </ul>
        </div>
    </div>
</div>
