/* line 3, ../sass/admin.scss */
#branding h1,
#branding h1 a:link,
#branding h1 a:visited {
  color: #fff;
}

/* line 9, ../sass/admin.scss */
#header {
  background-image: radial-gradient(circle, #cc0000, #990000);
  border-width: 0;
  color: #fff;
}

/* line 15, ../sass/admin.scss */
#user-tools {
  color: #fff;
  font-size: 12px;
  font-weight: 500;
}

/* line 21, ../sass/admin.scss */
.module caption {
  background: #900;
}

/* line 25, ../sass/admin.scss */
div.breadcrumbs {
  background-image: radial-gradient(circle, #cc0000, #990000);
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}

/* line 30, ../sass/admin.scss */
a:link,
a:visited {
  color: #c00;
}

/* line 35, ../sass/admin.scss */
.module h2,
.module caption,
.inline-group h2 {
  background-color: #c00;
}

/* line 41, ../sass/admin.scss */
input[type=submit],
input[type=submit].default,
input[type=button] {
  background: #1b1515;
}
/* line 46, ../sass/admin.scss */
input[type=submit]:hover, input[type=submit]:active, input[type=submit]:focus,
input[type=submit].default:hover,
input[type=submit].default:active,
input[type=submit].default:focus,
input[type=button]:hover,
input[type=button]:active,
input[type=button]:focus {
  background: #000;
}
