/* line 1, ../sass/base.scss */
input,
.help-block {
  font-family: arial;
}

/* line 6, ../sass/base.scss */
.text-bold {
  font-weight: bold;
}

/* line 14, ../sass/base.scss */
.justify-content-between {
  display: flex;
  justify-content: space-between;
}

/* line 19, ../sass/base.scss */
.control-label {
  font-size: 16px;
}

/* line 23, ../sass/base.scss */
hr {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}

/* line 27, ../sass/base.scss */
.side-by-side {
  display: flex;
}

/* line 1, ../sass/home.scss */
body {
  background: radial-gradient(circle, #cc0000, #990000);
  background-size: cover;
  margin: 0;
  padding: 0;
}

/* line 8, ../sass/home.scss */
.centered {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  align-self: center;
}

/* line 17, ../sass/home.scss */
.container {
  min-height: 100vh;
  margin-bottom: 10px;
}

/* line 22, ../sass/home.scss */
.central-circle {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.6);
  border-radius: 100%;
  background-color: #fff;
  min-width: 350px;
  min-height: 350px;
}
@media (orientation: landscape) {
  /* line 22, ../sass/home.scss */
  .central-circle {
    width: 90vh;
    height: 90vh;
  }
}
@media screen and (orientation: portrait) {
  /* line 22, ../sass/home.scss */
  .central-circle {
    width: 90vw;
    height: 90vw;
  }
}

/* line 40, ../sass/home.scss */
.circle-header {
  padding: 0 8.5vw;
  margin: 12px 0 5px;
}
@media (max-width: 550px), (max-height: 440px) {
  /* line 40, ../sass/home.scss */
  .circle-header {
    font-size: 18px;
  }
}
@media (min-width: 720px) {
  /* line 40, ../sass/home.scss */
  .circle-header {
    padding: 0 30px 5px;
  }
}

/* line 53, ../sass/home.scss */
.compact-header {
  margin-top: 0;
}

/* line 57, ../sass/home.scss */
.help-block {
  margin: 0;
}

/* line 61, ../sass/home.scss */
.circle-form {
  width: 70%;
}

@media (max-width: 550px), (max-height: 440px) {
  /* line 65, ../sass/home.scss */
  .form-group {
    font-size: 12px;
  }
}
@media (max-width: 450px), (max-height: 440px) {
  /* line 65, ../sass/home.scss */
  .form-group {
    font-size: 10px;
    margin-bottom: 8px;
  }
}

@media (max-width: 450px) {
  /* line 76, ../sass/home.scss */
  .form-control {
    font-size: 10px;
    height: 30px;
  }
}

/* line 83, ../sass/home.scss */
.extra-info {
  display: flex;
  justify-content: center;
  text-align: center;
  color: #737373;
  margin-top: 5px;
}

/* line 92, ../sass/home.scss */
.alert {
  margin: 0 25px 10px;
  padding: 10px;
  font-size: 12px;
}

/* line 98, ../sass/home.scss */
.alert-dismissable {
  padding-right: 20px;
}

/* line 102, ../sass/home.scss */
.close {
  margin-right: 10px;
}

/* line 1, ../sass/footer.scss */
footer {
  background-color: #1b1515;
  box-shadow: inset 0 7px 9px -5px rgba(0, 0, 0, 0.4);
  height: 10vh;
  padding-left: 5px;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-direction: row;
}
/* line 12, ../sass/footer.scss */
footer a {
  color: #999999;
}
/* line 15, ../sass/footer.scss */
footer a:hover {
  color: #fff;
}
/* line 20, ../sass/footer.scss */
footer .separator {
  height: 35px;
  margin: 10px;
  border-right: 1px solid rgba(0, 0, 0, 0.4);
}

/* line 1, ../sass/prefs.scss */
.central-square {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.6);
  background-color: #fff;
  min-width: 310px;
  max-width: 700px;
  width: 95vw;
  padding: 15px;
  margin: 15px;
}

/* line 11, ../sass/prefs.scss */
.prefs-header {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin-bottom: 10px;
}

/* line 18, ../sass/prefs.scss */
.label-info {
  background-color: #737373;
}

/* line 22, ../sass/prefs.scss */
.save-button {
  display: flex;
  justify-content: flex-end;
  opacity: 0;
  transition: all 500ms ease;
}

/* line 29, ../sass/prefs.scss */
.faded-in {
  opacity: 1;
}

/* line 1, ../sass/login.scss */
.login-header {
  padding: 0 8.5vw;
  margin: 0 0 5px;
}
@media (max-width: 550px), (max-height: 440px) {
  /* line 1, ../sass/login.scss */
  .login-header {
    font-size: 18px;
  }
}
@media (min-width: 720px) {
  /* line 1, ../sass/login.scss */
  .login-header {
    padding: 0 30px 5px;
  }
}

/* line 14, ../sass/login.scss */
#code-receiver {
  margin-top: 15px;
}

@keyframes pulse {
  50% {
    background: #636363;
  }
  75% {
    background: rgba(99, 99, 99, 0.2);
  }
}
/* line 35, ../sass/login.scss */
.loading-pulse {
  margin: 0 15px;
  position: relative;
  width: 6px;
  height: 24px;
  background: rgba(99, 99, 99, 0.2);
  animation: pulse 900ms infinite;
  animation-delay: 300ms;
}
/* line 44, ../sass/login.scss */
.loading-pulse::before, .loading-pulse::after {
  content: '';
  position: absolute;
  display: block;
  height: 16px;
  width: 6px;
  background: rgba(99, 99, 99, 0.2);
  top: 50%;
  transform: translateY(-50%);
  animation: pulse 900ms infinite;
}
/* line 57, ../sass/login.scss */
.loading-pulse::before {
  left: -12px;
}
/* line 61, ../sass/login.scss */
.loading-pulse::after {
  left: 12px;
  animation-delay: 600ms;
}
