{% extends 'base.html' %}
{% load bootstrap3 %}
{% load static %}
{% block content %}
<div class="container centered">
    <div class="central-square">
        <div class="prefs-header">
            <h3 class="compact-header">About</h3>
            <span class="label label-info text-right">NCSU Menu Notifier</span>
        </div>
        <div>
            <h4 class="text-bold">What is it?</h4>
                <div class="centered">
                  <p>
                      The NCSU Menu Notifier is a web app that will automatically notify you via SMS
                      when your favorite foods are being served at Fountain, Clark, or Case dining halls. Like this:
                  </p>
                  <img class="img-responsive" src="{% static 'phone_screenshot_cropped.png' %}" alt="Screenshot of a text message">
                </div>
            <br/>
            <h4 class="text-bold">How do I use it?</h4>
                <p>
                    <span class="text-bold">First time users:</span> On the <a href="{% url 'home' %}">home page</a>,
                    put in your 10-digit phone number (no parentheses or dashes required) and pick your favorite
                    dish from the dropdown. You will be sent a text to verify your phone number.
                    You can add more dishes and fine-tune your notifications on the <a href="{% url 'prefs' %}">preferences page</a>.
                </p>
                <p>
                    <span class="text-bold">Returning users:</span> You can access your account preferences <a href="{% url 'prefs' %}">here</a>.
                    There, you can change which meals and which dining halls you want to be notified about.
                    You can also add and remove multiple dishes to your account.
                </p>
            <br/>
            <h4 class="text-bold">How does it work under the hood?</h4>
                <p>
                    This website uses the <a href="https://www.djangoproject.com/">Django Web Framework</a>,
                    a popular Python framework for websites used by Pinterest, Instagram, and many others.
                </p>
                <p>
                    The menu is updated every day by using a custom Python web scraper
                    and a package called <a href="https://pypi.python.org/pypi/beautifulsoup4">beautifulsoup</a>.
                    Each dish is then saved in a PostgreSQL database.
                </p>
                <p>
                    Text messages are sent by using <a href="https://www.twilio.com/">Twilio's</a> API,
                    which is the same API used by Uber to programmatically send text messages when
                    your Uber driver has arrived.
                </p>
                <p>
                  The site and the database is hosted on <a href="https://www.heroku.com/platform">Heroku</a>,
                  and the code repository is hosted on <a href="https://about.gitlab.com/">GitLab</a>. GitLab also
                  provides a <a href="https://en.wikipedia.org/wiki/Continuous_integration">continuous integration</a>
                  server for this site.
                </p>
            <br/>
            <h4 class="text-bold">How do I stop receiving texts?</h4>
                <p>
                  If you text "STOP" to this site's phone number, then Twilio will step in and prevent all
                  of ncsu-mn's messages from reaching you until you reply "START". But that's kind of a nuclear option, so the other
                  option is to just remove all your favorite foods from your account on your
                  <a href="{% url 'prefs' %}">preferences page</a>.
                </p>
        </div>
    </div>
</div>
{% endblock %}
