{% extends 'base.html' %}
{% load bootstrap3 %}
{% load static %}
{% block content %}

<div class="container centered">
  <div class="central-square">
    {% load tags %}
    {% render_changelog %}
  </div>
</div>

{% endblock %}
