{% extends 'base.html' %}
{% load bootstrap3 %}

{% block content %}

<div class="container centered">
    <div class="central-circle centered">
        <h3 class="text-center circle-header">
            Free NCSU Menu Notifications
        </h3>
        {% bootstrap_messages %}
        {% bootstrap_form_errors form %}
        <!-- Form goes here -->
        <div class="circle-form">
            <form action="" method="POST" novalidate>
                {% csrf_token %}
                {% bootstrap_field form.phone_number %}
                {% bootstrap_field form.favorite_dish %}
                {% bootstrap_button "Sign me up!" button_type="submit" button_class="btn-primary btn-block" %}
            </form>
        </div>
        <div class="extra-info">
                <span>Been here before? <a href="/login">Log in</a></span>
        </div>
    </div>
</div>
<script>
$("#id_favorite_dish").chosen();
</script>
{% endblock %}
